<?xml version="1.0"?>

<config>
    <modules>
        <Sinabs_News>
            <version>0.1.0</version>
        </Sinabs_News>
    </modules>
    <frontend>
        <routers>
            <news> <!-- Nom du module -->
                <use>standard</use>
                <args>
                    <module>Sinabs_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <layout> <!-- Déclaration du layout -->
            <updates>
                <news> <!-- Nom du module -->
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>
    </frontend>
</config>
